In [1]:
print('im learning python')

im learning python

In [3]:
print("im learning python")

im learning python

name = 'Sam'
print(type)
print(name)

In [9]:
name = 'Sam'
print(type(name))
print("Salam "+name)

<class 'str'>
Salam Sam

In [12]:
first_name = "Sameer"
last_name = "Hussain"
fullname = first_name +" " + last_name
print(fullname)

Sameer Hussain

In [13]:
first_name = "Sameer"
last_name = "Hussain"
fullname = first_name +" " + last_name
print("hi, hw r u " + fullname)

hi, hw r u Sameer Hussain

## Int

In [14]:
age = 21
age = age + 1
print(age)

22

In [15]:
age = 21
age += 1
print(age)

22

In [16]:
age = 21
age += 1
print(type(age))

<class 'int'>

In [17]:
print(type(22))

<class 'int'>

In [19]:
print(type('hi'))

<class 'str'>

In [23]:
age = 21
print("your age is : "+str(age))

your age is : 21

In [22]:
age = 21
age += 1
print("your age is : "+str(age))

your age is : 22

In [25]:
print(type(250.5))

<class 'float'>

In [24]:
height = 250.5
print(height)
print(type(height))

250.5
<class 'float'>

In [28]:
human = True
print(human)
print(type(human))

True
<class 'bool'>

In [29]:
human = False
print(human)
print(type(human))

False
<class 'bool'>

## Multiple Variables

In [1]:
name = 'sameer'
age = 21
height = 200.5
human = True

print(name)
print(age)
print(height)
print(human)

sameer
21
200.5
True

In [2]:
# IN ONE LINE DECLARATION
name , age , height, human = 'sameer', 21, 200.5, True
print(name)
print(age)
print(height)
print(human)

sameer
21
200.5
True

In [3]:
doraemon = 30
nobita = 30
suniyo = 30
giyan = 30

print(doraemon)
print(nobita)
print(suniyo)
print(giyan)       # this we can write in one line see below example

30
30
30
30

In [4]:
doraemon = nobita = suniyo = giyan = 30

print(nobita)   # Randomly Print any one but we get ' 30 ' only

30

In [5]:
name = 'hussain'        # Length
print(len(name))

7

In [12]:
name = 'hussain'         # Find
print(name.find('s'))

2

In [14]:
name = 'hussain'         # Upper
print(name.upper())

HUSSAIN

In [15]:
name = 'hussain'         # lower
print(name.lower())

hussain

In [16]:
name = 'hussain'         # Digit
print(name.isdigit())

False

In [17]:
name = 'hussain'         # count
print(name.count('a'))

1

In [18]:
name = 'hussain'         # count
print(name.count('s'))

2

In [19]:
name = 'Tiger'         # Replace a letter  so String Mutable
print(name.replace('T','L'))

Liger

In [ ]:
name = 'Tiger'         # Replace a letter  so String Mutable
print(name.replace('Tiger','Li'))

In [24]:
l = 10 #Global
def function(n):
    l = 5  #Local
    if l == 5 :
        print('local')
    else :
        print("global")
    print(l)
function("hello")

global
10

In [30]:
l = 10 #Global

def function(n):
    #l = 5  #Local
    m = 8
    global l
    l = l + 45
    print(l,m)
    
function("hello")

55 8

In [46]:
def sameer():
    a = 53
    def hussain():
        global a
        a = 100
    print("before calling hussain()", a)
    hussain()
    print("after calling hussain()", a)
    
sameer()

before calling hussain() 53
after calling hussain() 53

In [53]:
a = 50
def sameer():
    a = 53
    def hussain():
        global a
        a = 100
    print("after calling hussain()", a)
    
sameer()
print(a)

after calling hussain() 53
50