## LIST

* List is mutable can modified and can changed int to str, str to int , mixed datatypes
* list allow dubligate values
* list is represented by []

In [1]:
my_list = [1,2,3,4,5]
print(my_list)

[1, 2, 3, 4, 5]

In [2]:
print(type(my_list))

<class 'list'>

In [11]:
my_list = [1,2,3,4,5]

new_list = [8 if x == 3
            else x
            for x in my_list]
print(new_list)

[1, 2, 8, 4, 5]

In [14]:
[7 if x == 5
else x
for x in my_list]
print(my_list)

[1, 2, 3, 4, 5]

In [16]:
new_list = [1,2,8,4,5]

new1_list = ['hii' if x == 5
            else x
            for x in new_list]
print(new1_list)

[1, 2, 8, 4, 'hii']

In [1]:
list1 = [2,43,53,3,8,0]
# Sort
list1.sort()
print(list1)

[0, 2, 3, 8, 43, 53]

In [2]:
list1 = [2,43,53,3,8,0]
# Sort
list1.sort(reverse=True)
print(list1)

[53, 43, 8, 3, 2, 0]

In [4]:
list2 = [2,1,53,3,82,0,20,5]
# reverse                       # last to first
list2.reverse()
print(list2)

[5, 20, 0, 82, 3, 53, 1, 2]

In [9]:
# Nested List (list inside list)
list1 = [2,43,53,3.0,[53,'sam',200.5]]

print(list1)

[2, 43, 53, 3.0, [53, 'sam', 200.5]]

In [11]:
# List Comprehension
list = ['hussain','sameer','hashmi','mohd']
a = [word for word in list if word.startswith("h")]
print(a)
#print(type(a))

['hussain', 'hashmi']
<class 'list'>

In [16]:
# List Unpacking
list = ['mohd','sameer','hussain']
m1,m2,m3 = list 
print(m1)
print(m2)
print(m3)

mohd
sameer
hussain

## Tuple

* Tuple is immutable, elements cannot be changed, cannot modify the values
* Tuple allow dubligate values
* Tuple is represented by ()

In [24]:
my_tuple = (1,2,3,4,5)
print(my_tuple)

(1, 2, 3, 4, 5)

In [38]:
my_tuple = (1,2,3,4,5)

new_tuple = ( 8 if x == 5
            else x
            for x in my_tuple)
print(new_tuple)

<generator object <genexpr> at 0x00000220B2D233C0>

In [27]:
my_tuple = (1,2,3,4,5)

new_tuple = ( 9 if x == 5
            else x
            for x in my_tuple)
print(new_tuple)

<generator object <genexpr> at 0x00000220B2D18CF0>

In [18]:
my_tup = (1,2,3,'sam','mohd',200.5, True)
print(my_tup)
print(type(my_tup))

(1, 2, 3, 'sam', 'mohd', 200.5, True)
<class 'tuple'>

In [19]:
print(len(my_tup))

7

In [20]:
# Copy one variable values in new var
my_tup = (1,2,3,'sam','mohd',200.5, True)
my_tup2 = my_tup
print(my_tup2)

(1, 2, 3, 'sam', 'mohd', 200.5, True)

## Dictonary

* Store the elements int,str,flo,bool
* Mutable means we can modify, change the elements 
* it is represented by {}
* elements stored in key value pair eg: {'sam' : 23}

In [30]:
my_dict = {1,2,3,4,5}
print(my_dict)

{1, 2, 3, 4, 5}

In [36]:
my_dict = {1,2,3,4,5}

new_dict = [8 if x == 3
            else x
            for x in my_dict]
print(new_dict)

[1, 2, 8, 4, 5]

In [39]:
my_dict = {1,2,3,4,5}

new_dict = [ 'hyy' if x == 3
            else x
            for x in my_dict]
print(new_dict)

[1, 2, 'hyy', 4, 5]

## Set 

* Elements are not fixed by index
* Set doesn't allow dubligate values
* Set is represented by {}

In [2]:
s1 = {}
print(type(s1))

<class 'dict'>

In [4]:
s1 = set {}
print(type(s1))

SyntaxError: invalid syntax (2456522010.py, line 1)

In [5]:
s1 = {1,2,3,'mohd','sam',True,200.5}
print(s1)
print(type(s1))

{'sam', 1, 2, 3, 200.5, 'mohd'}
<class 'set'>

In [9]:
s1.update(["hussain"])

In [10]:
print(s1)

{'sam', 1, 2, 3, 'hussain', 200.5, 'mohd'}

In [13]:
s1.remove("hussain")

In [15]:
print(s1)

{'sam', 1, 2, 3, 200.5, 'mohd'}

In [40]:
a = {1,2,3,4,5}
print(type(a))

<class 'set'>

In [16]:
s1.pop()

'sam'

In [17]:
s1.pop()

1

In [18]:
print(s1)

{2, 3, 200.5, 'mohd'}

In [19]:
s1.clear()
print(s1)

set()

In [27]:
s1 = {1,2,3,'mohd','sam',True,200.5}
s2 = {1,2,3,'mohd','sam',True,200.5,'india',False}
print(s1.union(s2))
# UNION - print all values by two sets but print common  values one time only

{False, 1, 2, 3, 200.5, 'india', 'sam', 'mohd'}

In [26]:
s1 = {1,2,3,'mohd','sam',True,200.5}
s2 = {1,2,3,'mohd','sam',True,200.5,'india',False}
print(s1.union(s2))
print(s1 & s2) # using Operator

# UNION - print all values by two sets but print common  values one time only

{False, 1, 2, 3, 200.5, 'india', 'sam', 'mohd'}
{1, 2, 3, 200.5, 'sam', 'mohd'}

In [25]:
s1 = {1,2,3,'mohd','sam',True,200.5}
s2 = {1,2,3,'mohd','sam',True,200.5,'india',False}
print(s1.intersection(s2))
print(s1 & s2)
# INTERSECTION - print only common values

{1, 2, 3, 200.5, 'sam', 'mohd'}

In [48]:
a = {'age':23}
print(type(a))

print(a.get('age'))

<class 'dict'>
23